	body {
		font-family: Arial, sans-serif;
		margin: 20px;
		background-color: #c0dcdd;
	}

	table {
		border-collapse: collapse;
		margin-top: 20px;
		background-color: #fff;
	}

	#mobile-table {
		display: none;
	}

	th,
	td,
	caption {
		padding: 12px;
		text-align: left;
		border-bottom: 1px solid #ddd;
	}

	th,
	caption {
		background-color: #f8f9fa;
		font-weight: bold;
	}

	caption {
		background-color: white;
	}

	tfoot th {
		background-color: grey;
		color: white;
	}

	tbody tr:nth-child(odd) {
		background-color: rgba(0, 0, 0, 0.05)
	}


	thead th {
		background-color: grey;
		color: white;
	}


	tr:hover {
		background-color: #f1f1f1;
	}

	input[type="checkbox"] {
		transform: scale(1.2);
		margin-right: 10px;
	}

	label {
		display: block;
		width: 0;
		height: 0;
		overflow: hidden;
	}

	#selectedElements {
		font-size: 16px;
		margin-bottom: 10px;
		color: #333;
	}

	/* table,
		  tr,
		  td,
				  table>* {
		  	display: block;
		  }

					    table {
					    	page-break-inside: auto;
					    }
			
					    tr {
					    	page-break-inside: avoid;
					    } */


	@media all and (max-width: 37em) {
		#mobile-table {
			display: block;
		}

		#desktop-table {
			display: none;
		}

	}